.action {
    display: flex;
    justify-content: center;

    @include breakpoint-down('mobile') {}
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 80px;
    border-radius: 12px;
    background-color: #003f93;
    text-decoration: none;
    transition: .3s;

    span {
        flex: 0 0 auto;
        font-size: 24px;
        font-weight: 500;
        letter-spacing: em(0.6, 24);
        color: #fff;
    }

    div {
        flex: 0 0 auto;
        width: 14px;
        font-size: 0;
    }

    img {
        // transition: .3s;
    }

    &:hover {
        background-color: #ea5202;
        // img {
        //     transform: translateX(100%);
        // }
    }

    @include breakpoint-down('laptop') {
        gap: 10px;
        height: 64px;
        border-radius: 10px;

        span {
            font-size: 20px;
        }

        div {
            width: 11px;
        }
    }

    @include breakpoint-down('tablet') {
        gap: 8px;
        height: 48px;
        border-radius: 8px;

        span {
            font-size: 15px;
        }

        div {
            width: 9px;
        }
    }
}