.-ogT {
    color: #ea5202;
}

.-buT {
    color: #003f93;
}

.-gyT {
    color: #4d4d4d;
}

.-gdT {
    color: #ac872c;
}

.-rdT {
    color: #db0909;
}

.-fwn {
    font-weight: normal;
}

.-gT {
    display: inline-block;
}