{% extends './_layouts/_layout.tmpl' %}

{% block content %}
test
{% endblock %}

{% block popups %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block pluginScripts %}
{% endblock %}

{% block scripts %}
{% endblock %}