{% extends './_layouts/_layout.tmpl' %}

{% block content %}
<section class="block -promo">
    <div class="block-wrap">
        <div class="promo">
            <div class="promo-content">
                <div class="promo-bg">
                    <div class="promo-corner -tl"></div>
                    <div class="promo-corner -tr"></div>
                    <div class="promo-corner -br"></div>
                    <div class="promo-corner -bl"></div>
                </div>
                <span class="-gT">還在糾結每月 6 號扣</span><span class="-gT">還是 26 號扣？</span><br>
                市場波動不等人，錯過就是損失。<br>
                <p><i><span class="-gT">擺脫擇時焦慮！ </span><span class="-gT">「日日扣」掌握市場每個時刻</span></i></p>
            </div>
        </div>
    </div>
</section>
<section class="block">
    <div class="block-wrap">
        <div class="concept">
            <span class="-gT">無論牛市熊市，</span><span class="-gT">每天都是你的資金配置日</span><br>
            把生活留給自己，理財交給紀律<br>
            <p><i><span class="-gT">時間和頻率</span><span class="-gT">就是你強大的風控工具</span></i></p>
        </div>
    </div>
</section>
{% endblock %}

{% block popups %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block pluginScripts %}
{% endblock %}

{% block scripts %}
{% endblock %}