{% extends './_layouts/_layout.tmpl' %}
{% import './_macros/logo.part' as logo %}

{% block content %}
<section class="banner">
    <div class="banner-bg">
        {# <img class="banner-day -d21" src="./assets/image/banner/21.png" alt="">
        <img class="banner-day -d211" src="./assets/image/banner/21-1.png" alt="">
        <img class="banner-day -d30" src="./assets/image/banner/30.png" alt="">
        <img class="banner-day -d24" src="./assets/image/banner/24.png" alt="">
        <img class="banner-day -d15" src="./assets/image/banner/15.png" alt=""> #}
    </div>
    <div class="banner-wrap">
        <div class="banner-logo">
            {{ logo.html() }}
        </div>
        <div class="banner-txt">
            <div>
                讓投資變成一種「習慣」<br>
                <b>換未來的一個可能！</b>
            </div>
        </div>
        <div class="banner-window">
            <div class="window">
                <img src="./assets/image/banner/window.png" alt="">
                <img class="window-day -d1" src="./assets/image/banner/1.png" alt="">
                <img class="window-day -d2" src="./assets/image/banner/2.png" alt="">
                <img class="window-day -d5" src="./assets/image/banner/5.png" alt="">
                <img class="window-day -d6" src="./assets/image/banner/6.png" alt="">
            </div>
        </div>
    </div>
</section>
<section class="block -promo">
    <div class="block-wrap">
        <div class="promo">
            <div class="promo-content">
                <div class="promo-bg">
                    <div class="promo-corner -tl"></div>
                    <div class="promo-corner -tr"></div>
                    <div class="promo-corner -br"></div>
                    <div class="promo-corner -bl"></div>
                </div>
                <span class="-gT">還在糾結每月 6 號扣</span><span class="-gT">還是 26 號扣？</span><br>
                市場波動不等人，錯過就是損失。<br>
                <p><i><span class="-gT">擺脫擇時焦慮！ </span><span class="-gT">「日日扣」掌握市場每個時刻</span></i></p>
            </div>
        </div>
    </div>
</section>
<section class="block -intro">
    <div class="block-wrap">
        <div class="block-head">
            <div class="block-tit">
                <div>
                    {{ logo.html() }}
                </div>
                是什麼?!
            </div>
        </div>
        <div class="block-content">
            <div class="intro">
                <div class="intro-pic">
                    <div class="calendar">
                        <div class="calendar-up -u1">
                            <img src="./assets/image/intro/up.svg" alt="">
                        </div>
                        <div class="calendar-up -u2">
                            <img src="./assets/image/intro/up.svg" alt="">
                        </div>
                        <div class="calendar-up -u3">
                            <img src="./assets/image/intro/up.svg" alt="">
                        </div>
                        <div class="calendar-bottom">
                            <img src="./assets/image/intro/calendar.png" alt="">
                        </div>
                        <div class="calendar-tick">
                            <img src="./assets/image/intro/tick.png" alt="">
                        </div>
                        <div class="calendar-up -u4">
                            <img src="./assets/image/intro/up.svg" alt="">
                        </div>
                        <div class="calendar-up -u5">
                            <img src="./assets/image/intro/up.svg" alt="">
                        </div>
                    </div>
                </div>
                <div class="intro-arrow">
                    <img src="./assets/image/intro/arrow.svg" alt="">
                </div>
                <div class="intro-content">
                    <div class="intro-tit">定期定額的進階版</div>
                    <div class="intro-txt">
                        <b class="-buT">自由選擇每月 1~31 日作為扣款日！</b><br>
                        打破傳統只能設定特定幾天的限制，將資金平均分配到每個不同的交易日，大幅降低「買在高點」的風險。<br>
                        <br>
                        設定一次，系統幫忙自動進場<br>
                        <p>
                            <b class="-buT"><i>實現天天進場、天天自動參與市場</i></b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="block">
    <div class="block-wrap">
        <div class="concept">
            <span class="-gT">無論牛市熊市，</span><span class="-gT">每天都是你的資金配置日</span><br>
            把生活留給自己，理財交給紀律<br>
            <p><i><span class="-gT">時間和頻率</span><span class="-gT">就是你強大的風控工具</span></i></p>
        </div>
    </div>
</section>
{% endblock %}

{% block popups %}
{% endblock %}

{% block styles %}
{% endblock %}

{% block pluginScripts %}
{% endblock %}

{% block scripts %}
{% endblock %}